@import url('./main-layout.css');
.sprite-container- {
    clip-path: inset(128px 768px 768px 128px);
}
.sprite- {
    width: 1024px;
    height: 1024px;
    background-size: 1024px 1024px;
    background-position: -128px -128px;
    image-rendering: pixelated;
}
.player-head-container {
    transform: scale(16);
    transform-origin: 11px 12px;
}
.sprite-container {
    clip-path: inset(8px 48px 55px 8px);
}
.sprite {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}
.button-sprite{
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
}